---
title: Le Wagon - Middleman
---

<div id="home">
  <div class="home-content">
    <%= image_tag "logo.png", width: "200" %>
    <p>
      Middleman is now running!
    </p>
    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p>
  </div>
</div>


<div class="container text-center">
  <div class="row">

    <% ["londres", "berlin", "paris"].each do |city| %>

      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/<%= city %>');">
          <div class="card-description">
            <h2><%= city %></h2>
            <p>Very cool</p>
          </div>
        </div>
      </div>

    <% end %>

  </div>
</div>





  </div>
</div>
